* {
  margin: 0;
  padding: 0;
  list-style: none;
}

@font-face {
  font-family: "Poppins";
  src: url("/font/Poppins-Medium.ttf") format("truetype");
  /* src: url("/font/Poppins-Bold.ttf") format("truetype"); */
}

body {
  scroll-behavior: smooth;
  top: 0;
  font-family: "Poppins", sans-serif;
  /* overflow-x: hidden !important; */
}

header {
  display: inline;
}

.navbar {
  width: 100%;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 99;
}

.navbar .container {
  width: 80%;
  margin: 20px auto;
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-toggle {
  display: none;
}

.navbar ul {
  display: flex;
}

.navbar-brand {
  font-size: 24px;
  font-weight: 600;
  color: rgb(68, 0, 255);
}

.navbar .nav-list {
  display: flex;
  align-items: center;
}

.navbar li {
  padding-right: 30px;
}

.navbar a {
  font-size: 18px;
  font-weight: 200;
  text-decoration: none;
  color: rgb(107, 107, 107);
}

.active {
  color: #101010;
}

/* .nav-list .active {
  color: #101010;
} */

.navbar a:hover {
  color: rgb(10, 10, 10);
}

.navbar .tombol {
  display: flex;
  font-size: 18px;
}

.section .container {
  width: 80%;
  margin: 120px auto;
  display: flex;
}

.subtitle {
  display: flex;
  flex-basis: 70%;
  margin-bottom: 50px;
  font-size: 1.4em;
  font-family: "Poppins";
  font-weight: bold;
}

span {
  color: rgb(68, 0, 255);
}

.hero {
  display: flex;
  flex-basis: 30%;
  justify-items: flex-end;
  transition: transform 600ms;
}

.hero:hover {
  transform: scale(1.08);
}

.hero .earth {
  width: 478px;
  margin-top: -84px;
  margin-right: -20px;
}

.container-text {
  width: 80%;
  margin: auto;
  display: flex;
  margin-top: -372px;
  flex-wrap: wrap;
}

.container-text .text {
  display: flex;
  flex-basis: 100%;
  font-size: 20px;
  font-weight: 300;
}

.container-text .button {
  margin-top: 46px;
}

.tombol-login {
  padding: 8px 36px 8px 36px;
  border-radius: 10px;
  border: none;
  background-color: rgb(68, 0, 255);
  color: rgb(240, 240, 240);
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins";
}

.tombol-login:hover {
  background-color: rgb(68, 7, 233);
  color: #fff;
}

.tombol {
  padding: 10px 36px 10px 36px;
  border-radius: 10px;
  border: none;
  background-color: rgb(68, 0, 255);
  color: rgb(240, 240, 240);
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins";
}

.tombol:hover {
  background-color: rgb(68, 7, 233);
  color: #fff;
}

.tombol-secondary {
  padding: 10px 36px 10px 36px;
  border-radius: 10px;
  border: none;
  background-color: rgb(224, 224, 224);
  color: rgb(172, 172, 172);
  font-size: 16px;
  font-weight: 400;
  margin-left: 12px;
  font-family: "Poppins";
}

.tombol-secondary:hover {
  background-color: rgb(68, 0, 255);
  color: #fff;
}

/* Main */
main {
  margin-top: 215px;
}

main .sub-text {
  font-size: 1.9em;
  font-weight: 600;
  text-align: center;
}

main .content {
  width: 80%;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
}

main .content .card {
  width: 230px;
  height: 290px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px 20px 20px 20px;
  border-radius: 10px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 26px;
  transition: transform 400ms;
}

.card:hover {
  transform: scale(1.08);
}

.card img {
  width: 40px;
}

/* reading */
.big {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(68, 0, 255, 0.247);
}

.reading {
  width: 70px;
  height: 70px;
  background: rgb(68, 0, 255);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* listening */
.big {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(68, 0, 255, 0.247);
}

.listening {
  width: 70px;
  height: 70px;
  background: rgb(68, 0, 255);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* speaking */
.big {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(68, 0, 255, 0.247);
}

.speaking {
  width: 70px;
  height: 70px;
  background: rgb(68, 0, 255);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-title {
  font-size: 1.3em;
  font-weight: 600;
}

.card-text {
  text-align: center;
  margin-top: -24px;
  font-size: 15px;
  font-weight: 200;
}

/* Section */
section {
  margin-top: 215px;
}

section .container {
  width: 80%;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

section img {
  width: 540px;
  /* border-radius: 10px; */
}

.text-section {
  margin-left: 50px;
}

.text-section .title {
  font-size: 2.3em;
  font-weight: 600;
}

.text-section .text {
  margin-top: 14px;
  font-size: 1.2rem;
  font-weight: 300;
}

.text-section button {
  margin-top: 36px;
}

/* About Us */
article .container-about {
  width: 80%;
  margin: 215px auto;
}

.container-about .sub_title {
  font-size: 1.9em;
  font-weight: 600;
  text-align: center;
}

.container-about .image {
  width: 100%;
  height: 500px;
  background-image: url("/submission/assets/img/About.jpg");
  background-size: cover;
  margin-top: 36px;
}

.container-about .description {
  font-size: 1.2rem;
  font-weight: 200;
  margin-top: 26px;
}

/* Newslater */
section .newslater {
  width: 80%;
  height: 320px;
  margin: 0px auto;
  background-color: rgb(68, 0, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 14px;
  padding: 56px;
  box-sizing: border-box;
  margin-top: 0px;
}

.newslater .sub-text {
  font-size: 1.8em;
  font-weight: 600;
  color: #fff;
}

.newslater .text {
  font-size: 17px;
  font-weight: 100;
  color: #fff;
  text-align: center;
  margin-top: 10px;
}

.input-email {
  margin-top: 40px;
}

.newslater input {
  width: 400px;
  height: 12px;
  border-radius: 6px;
  border: none;
  padding: 12px;
  margin-right: 6px;
}

.newslater button {
  padding: 6px 26px 6px 26px;
  border-radius: 6px;
  border: none;
  background-color: rgb(255, 174, 0);
  color: rgb(240, 240, 240);
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins";
}

/* Biodata */
.container-biodata {
  width: 50%;
  margin: 150px auto;
  display: flex;
  background-color: rgb(68, 0, 255);
  padding: 40px;
  border-radius: 10px;
  justify-content: center;
  justify-content: space-around;
}

.container-biodata .biodata {
  margin-left: 30px;
  color: #fff;
}

.container-biodata .biodata h3 {
  font-size: 1.2em;
  border-bottom: 2px solid #fff;
  text-align: center;
  padding-bottom: 8px;
}

.container-biodata .biodata p {
  padding-top: 12px;
  font-size: 18px;
  font-weight: 100;
}

.container-biodata .image {
  width: 170px;
  height: 170px;
  background-image: url("/submission/assets/img/profile.png");
  background-size: cover;
  background-position-y: center;
  border: 2px solid rgb(255, 174, 0);
  border-radius: 50%;
}

/* Footer */
footer {
  margin-top: 150px;
  border-top: 3px solid rgb(68, 0, 255);
}

.footer-container {
  width: 80%;
  display: flex;
  margin: 40px auto;
  justify-content: space-between;
}

.footer-container h5 {
  font-size: 1.1em;
}

.footer-container ul {
  margin-top: 10px;
}

.footer-container li a {
  text-decoration: none;
  color: #101010;
  font-size: 16px;
  font-weight: 100;
}

.footer-container li {
  padding-top: 8px;
}

.footer-container .logo {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
}

.footer-container .logo p {
  margin-top: 18px;
  font-size: 16px;
  font-weight: 100;
}

.footer-container .address {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
}

.copyright {
  height: 40px;
  background-color: rgb(68, 0, 255);
  color: #fff;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  font-weight: 100;
}

/* Very Large Laptop */
@media (min-width: 1500px) and (max-width: 2660px) {
  .navbar .container {
    width: 70%;
  }

  .section .container {
    width: 70%;
  }

  .container-text {
    width: 70%;
  }

  .container-text {
    margin-top: -340px;
  }

  main .content {
    width: 70%;
  }

  section .container {
    width: 70%;
  }

  .newslater {
    width: 70%;
  }

  .footer-container {
    width: 70%;
  }
}

/* Laptop Small */
@media (min-width: 992px) and (max-width: 1410px) {
  .navbar .container {
    width: 86%;
    margin: 16px auto;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 5;
  }

  .section .container {
    width: 86%;
    margin: 90px auto;
    display: flex;
  }

  .navbar a {
    font-size: 16px;
  }

  .tombol-login {
    padding: 6px 36px 6px 36px;
    border-radius: 10px;
    border: none;
    background-color: rgb(68, 0, 255);
    color: rgb(240, 240, 240);
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins";
  }

  .container-text {
    width: 86%;
  }

  .container-text .text {
    font-size: 30px;
  }

  .hero .earth {
    max-width: auto;
    margin-top: -70px;
    margin-right: -50px;
  }

  .container-text {
    margin-top: -300px;
  }

  .container-text .text {
    font-size: 16px;
    font-weight: 300;
  }

  .subtitle {
    font-size: 1.3em;
    font-weight: bold;
  }

  .container-text .button {
    margin-top: 36px;
  }

  main .content {
    width: 86%;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
  }

  main .content .card {
    width: 200px;
    height: 290px;
    margin-right: 26px;
    margin-left: 26px;
  }

  .card-title {
    font-size: 1.2em;
    font-weight: 600;
  }

  .card-text {
    margin-top: -28px;
    font-size: 14px;
    font-weight: 200;
  }

  /* Section Experience*/
  section .container {
    width: 86%;
    margin: 130px auto;
  }

  section img {
    width: 420px;
  }

  .text-section {
    margin-left: 30px;
  }

  .text-section .title {
    font-size: 2em;
  }

  .text-section .text {
    margin-top: 12px;
    font-size: 1rem;
    font-weight: 300;
  }

  .text-section button {
    margin-top: 32px;
  }

  /* About Us */
  article .container-about {
    width: 86%;
    margin: 215px auto;
  }

  .container-about .sub_title {
    font-size: 1.9em;
    font-weight: 600;
    text-align: center;
  }

  .container-about .image {
    width: 100%;
    height: 500px;
    background-image: url("/image/four.jpg");
    background-size: cover;
    margin-top: 36px;
  }

  .container-about .description {
    font-size: 1rem;
    font-weight: 200;
    margin-top: 26px;
  }

  /* Newslater */
  section .newslater {
    width: 86%;
    height: 280px;
    margin: 0px auto;
    padding: 40px;
  }

  .newslater .text {
    font-size: 16px;
    font-weight: 200;
    color: #fff;
    text-align: center;
    margin-top: 10px;
  }

  .newslater .sub-text {
    font-size: 1.5em;
    font-weight: 500;
    color: #fff;
  }

  /* Biodata */
  .container-biodata {
    width: 60%;
  }

  .container-biodata .biodata h3 {
    font-size: 1.1em;
    border-bottom: 2px solid #fff;
    text-align: center;
    padding-bottom: 8px;
  }

  .container-biodata .biodata p {
    font-size: 16px;
  }

  /* footer */
  .footer-container {
    width: 86%;
  }

  .footer-container h5 {
    font-size: 1em;
    font-weight: 600;
  }

  .footer-container ul {
    margin-top: 8px;
  }

  .footer-container li a {
    font-size: 14px;
    font-weight: 100;
  }

  .footer-container .logo p {
    margin-top: 18px;
    font-size: 14px;
    font-weight: 100;
  }

  .footer-container .address {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
  }

  .footer-container .address li p {
    font-size: 14px;
    font-weight: 100;
  }

  .copyright {
    font-size: 14px;
  }
}

@media (min-width: 1210px) and (max-width: 1401px) {
  .container-text {
    margin-top: -340px;
  }

  .container-text .text {
    font-size: 18px;
    font-weight: 600;
  }

  /* Experience */
  section img {
    width: 500px;
    /* border-radius: 10px; */
  }

  .text-section {
    margin-left: 40px;
  }

  /* Section Experience*/
  section .container {
    margin: 100px auto;
  }
}

/* Mobile Device */
@media (min-width: 310px) and (max-width: 992px) {
  .navbar {
    width: 100%;
    top: 0;
  }

  .navbar .container {
    width: 90%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navbar-brand {
    font-size: 18px;
    font-weight: 600;
    color: rgb(68, 0, 255);
  }

  .navbar ul {
    /* display: flex; */
    position: absolute;
    right: 0;
    top: 0;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 100vh;
    width: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* z-index: 9px; */
    transition: all 1s;
    /* transform: translatex(100%); */
    opacity: 0;
  }

  .navbar ul.slide {
    opacity: 1;
    transform: translateX(0);
  }

  .navbar li {
    padding-right: 0;
  }

  .nav-list .active {
    color: #101010;
  }

  .navbar a {
    text-decoration: none;
    display: flex;
    font-size: 16px;
    font-weight: 300;
    color: rgb(107, 107, 107);
  }

  .navbar a:hover {
    color: rgb(10, 10, 10);
  }

  /* hamburger menu */
  .menu-toggle {
    display: flex;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
  }

  .menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    opacity: 0;
    left: -6px;
    top: -5px;
    cursor: pointer;
    z-index: 2;
  }

  .menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: rgb(85, 0, 255);
    border-radius: 3px;
    transition: all 0.5s;
  }

  /* animation */
  .menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
  }

  .menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
  }

  .menu-toggle input:checked ~ span:nth-child(2) {
    transform: rotate(45deg) translate(-1px, -1px);
  }

  .menu-toggle input:checked ~ span:nth-child(4) {
    transform: rotate(-45deg) translate(-1px, 0px);
  }

  .menu-toggle input:checked ~ span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
  }

  .tombol-login {
    padding: 8px 80px 8px 80px;
    border-radius: 10px;
    border: none;
    background-color: rgb(68, 0, 255);
    color: rgb(240, 240, 240);
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins";
  }

  .tombol-login:hover {
    background-color: rgb(68, 7, 233);
    color: #fff;
  }

  .tombol {
    padding: 8px 34px 8px 34px;
    border-radius: 10px;
    border: none;
    background-color: rgb(68, 0, 255);
    color: rgb(240, 240, 240);
    font-size: 14px;
    font-weight: 400;
  }

  .tombol:hover {
    background-color: rgb(68, 7, 233);
    color: #fff;
  }

  .tombol-secondary {
    padding: 8px 34px 8px 34px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 400;
    margin-left: 10px;
  }

  .section .container {
    width: 90%;
    margin: 40px auto;
  }

  .subtitle {
    flex-basis: 100%;
    margin-bottom: 0;
    font-size: 1.1em;
    line-height: 2.2em;
  }

  .container-text {
    width: 90%;
    margin: auto;
    margin-top: -30px;
    /* flex-wrap: wrap; */
  }

  .container-text .text {
    display: flex;
    flex-basis: 100%;
    font-size: 16px;
    font-weight: 300;
  }

  .container-text .button {
    margin-top: 36px;
  }

  .hero .earth {
    width: 48px;
    display: none;
  }

  /* Main */
  main {
    margin-top: 120px;
    overflow-x: hidden;
  }

  main .sub-text {
    font-size: 1.6em;
  }

  main .content {
    width: 100%;
    margin: 20px auto;
    flex-direction: column;
    align-items: center;
  }

  main .content .card {
    margin-top: 30px;
  }

  .card-title {
    font-size: 1.2em;
    font-weight: 600;
  }

  .card-text {
    margin-top: -30px;
    font-size: 14px;
    font-weight: 200;
  }

  /* Section */
  section .container {
    width: 90%;
    margin: -60px auto;
    flex-direction: column;
  }

  section img {
    width: 100%;
  }

  .text-section {
    margin-left: 0px;
  }

  .text-section .title {
    font-size: 1.7em;
    margin-top: 20px;
  }

  .text-section .text {
    margin-top: 8px;
    font-size: 1rem;
    font-weight: 300;
  }

  .text-section button {
    margin-top: 28px;
  }

  /* About Us */
  article .container-about {
    width: 90%;
    margin: 170px auto;
  }

  .container-about .sub_title {
    font-size: 1.7em;
  }

  .container-about .image {
    width: 100%;
    height: 250px;
    background-image: url("/image/four.jpg");
    background-size: cover;
    background-position-x: center;
    margin-top: 32px;
  }

  .container-about .description {
    font-size: 0.9rem;
    margin-top: 24px;
    font-weight: 200;
  }

  /* Newslater */
  section .newslater {
    width: 90%;
    height: 220px;
    margin: 0px auto;
    background-color: rgb(68, 0, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 0px;
  }

  .newslater .sub-text {
    font-size: 1.2em;
  }

  .newslater .text {
    font-size: 13px;
    margin-top: 8px;
  }

  .input-email {
    margin-top: 18px;
  }

  .newslater input {
    width: 180px;
    height: 10px;
    border-radius: 6px;
    padding: 10px;
    margin-right: 4px;
  }

  .newslater button {
    padding: 6px 16px 6px 16px;
    border-radius: 6px;
    font-size: 13px;
    font-weight: 400;
  }

  /* Biodata */
  .container-biodata {
    width: 60%;
    margin: 150px auto;
    display: flex;
    padding: 26px;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
  }

  .container-biodata .biodata {
    margin-left: 0;
    margin-top: 16px;
  }

  .container-biodata .biodata h3 {
    font-size: 1em;
    padding-bottom: 6px;
  }

  .container-biodata .biodata p {
    padding-top: 12px;
    font-size: 14px;
    font-weight: 100;
  }

  .container-biodata .image {
    width: 140px;
    height: 140px;
    background-image: url("/image/profile.png");
    background-size: cover;
    background-position-y: center;
    border: 2px solid rgb(255, 174, 0);
    border-radius: 50%;
  }

  /* Footer */
  footer {
    margin-top: 50px;
  }

  .footer-container {
    width: 90%;
    margin: 10px auto;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .footer-container h5 {
    font-size: 0.9em;
    margin-top: 20px;
  }

  .footer-container ul {
    margin-top: 4px;
  }

  .footer-container li a {
    font-size: 14px;
    font-weight: 100;
  }

  .footer-container li {
    padding-top: 8px;
  }

  .footer-container .logo p {
    margin-top: 14px;
    font-size: 13px;
    font-weight: 100;
  }

  .footer-container .address li p {
    font-size: 14px;
    font-weight: 100;
  }

  .copyright {
    font-size: 13px;
  }
}

/* mobile-small */
@media (max-width: 330px) {
  .tombol-secondary {
    margin-top: 10px;
    margin-left: 0;
  }

  /* Biodata */
  .container-biodata {
    width: 60%;
    margin: 150px auto;
    display: flex;
    padding: 36px;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
  }

  .container-biodata .biodata h3 {
    font-size: 0.9em;
    padding-bottom: 6px;
  }

  .container-biodata .biodata p {
    padding-top: 12px;
    font-size: 12px;
    font-weight: 300;
  }

  .container-biodata .image {
    width: 120px;
    height: 120px;
    background-image: url("/image/profile.png");
    background-size: cover;
    background-position-y: center;
    border: 2px solid rgb(255, 174, 0);
    border-radius: 50%;
  }

  /* Newslater */
  .newslater {
    width: 100%;
    height: 200px;
    margin: 0px auto;
    border-radius: 14px;
    padding: 20px;
    justify-content: center;
  }

  .newslater .sub-text {
    font-size: 1em;
  }

  .newslater .text {
    font-size: 12px;
    margin-top: 10px;
  }

  .input-email {
    margin-top: 20px;
  }

  .newslater input {
    width: 160px;
    height: 10px;
    border-radius: 6px;
    padding: 10px;
    margin-right: 4px;
  }

  .newslater button {
    padding: 8px 14px 8px 14px;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 600;
  }

  .newslater .text br {
    display: none;
  }

  .copyright p {
    font-size: 12px;
  }
}
